body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #212529;
    color:rgb(255, 248, 240);
}
.photo{
    max-width: 170px;
}
.num{
    display: inline-block;
}
.pin{
    max-width: 40px;
}
.tel{
    margin-bottom: 25px;
}
.pon{
    max-width: 60px;
}
.mail{
    margin-right: 20px;    
}
.icoA{
    width: 50px;
}
.icoB{
    max-width: 80px;
    left: 50px;
}
.blue{
    background-color: #189498;
}
.fontForWhite{
    color:#189498
}
h5.fontForWhite{
    font-weight: lighter;
}
.map{
    color: rgb(255, 248, 240);
}
.exp{
    padding-left: 5%;
}